.App {
  display: flex;
}

.play-area {
  margin: 20px;
}

.row {
  display: flex;
}

.square {
  height: 40px;
  width: 40px;
  margin: 2px;
}

.ship {
  background: grey;
}

.noship {
  background: lightblue;
}

.hit-marker {
  position: absolute;
  z-index: 1;
  font-size: 40px;
}
