.App {
  display: flex;
}

.play-area {
  margin: 20px;
}

.row {
  display: flex;
}

.square {
  height: 40px;
  width: 40px;
  background: lightblue;
  margin: 2px;
}

.ship-marker {
  height: 40px;
  width: 40px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
}

.hit-marker {
  position: absolute;
  z-index: 1;
  font-size: 40px;
}
